In [1]:
import goal500
import pandas as pd

dados = goal500.get_player_stats()

ModuleNotFoundError: No module named 'goal500'

In [2]:
dados

     year  total           type               name
0    2002      0           club  Cristiano Ronaldo
1    2002      5           club  Cristiano Ronaldo
2    2003      6           club  Cristiano Ronaldo
3    2004      9           club  Cristiano Ronaldo
4    2005     12           club  Cristiano Ronaldo
..    ...    ...            ...                ...
244  2021     16  international         Harry Kane
245  2022      5  international         Harry Kane
246  2023      9  international         Harry Kane
247  2024      7  international         Harry Kane
248  2025      2  international         Harry Kane

[249 rows x 4 columns]

In [3]:
goal500.create_animation(dados, 'images/cumulative_goals.gif')

Animação salva em: images/cumulative_goals.gif

'images/cumulative_goals.gif'