In [5]:
import sys
sys.path.append("..")
import goal500
import pandas as pd

dados = goal500.get_player_stats()

Extraindo dados de: https://en.wikipedia.org/wiki/Cristiano_Ronaldo
Extraindo dados de: https://en.wikipedia.org/wiki/Lionel_Messi
Extraindo dados de: https://en.wikipedia.org/wiki/Robert_Lewandowski
Extraindo dados de: https://en.wikipedia.org/wiki/Neymar
Extraindo dados de: https://en.wikipedia.org/wiki/Erling_Haaland
Extraindo dados de: https://en.wikipedia.org/wiki/Kylian_Mbapp%C3%A9
Extraindo dados de: https://en.wikipedia.org/wiki/Harry_Kane
Extraindo dados de: https://en.wikipedia.org/wiki/Luis_Su%C3%A1rez

In [6]:
dados

     year  total           type               name
0    2002      0           club  Cristiano Ronaldo
1    2002      5           club  Cristiano Ronaldo
2    2003      6           club  Cristiano Ronaldo
3    2004      9           club  Cristiano Ronaldo
4    2005     12           club  Cristiano Ronaldo
..    ...    ...            ...                ...
285  2020      4  international        Luis Suárez
286  2021      2  international        Luis Suárez
287  2022      3  international        Luis Suárez
288  2023      0  international        Luis Suárez
289  2024      1  international        Luis Suárez

[290 rows x 4 columns]

In [8]:
goal500.create_animation(dados, '../images/cumulative_goals.gif')

Animação salva em: ../images/cumulative_goals.gif

'../images/cumulative_goals.gif'